<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('book') }}">Book Appointment</a></li>
            <li><a href="{{ url_for('view') }}">View Appointments</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>